<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Expense List</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" href="css/own.css"
	th:href="@{/css/own.css}">
<script src="js/main.js"></script>


</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-sm-12">
				<h1>
					Welcome <b sec:authentication="name"></b> <a
						th:href="@{/userprofile}" class="btn btn-info">User Profile</a>
				</h1>
			</div>
			<div class="col-md-4 col-sm-12 sign-out-container">
				<form th:action="@{/logout}" method="post">
					<input type="submit" value="Sign Out"
						class="btn btn-sm btn-danger sign-out-button" />
				</form>
			</div>
		</div>
		<div class="row mt-4">
			<div class="col-md-4 col-sm-12">
				<a sec:authorize="hasAuthority('ADMIN')" th:href="@{/userlist}"
					class="btn btn-info">User List</a>
			</div>
			
			

			<div class="d-flex mb-3">
				<form th:action="@{/updatebudget}" method="post"
					class="form-inline mr-3">
					
						<label for="budget"></label> <input type="number" step="0.01"
							class="form-control" id="budget" name="budget" placeholder="0.0"
							required>
					
					<button type="submit" class="btn btn-primary" style="margin-left: 2px;">Set Budget</button>
				</form>

				<form th:action="@{/addtobudget}" method="post" class="form-inline">
				
						<label for="budget-add"></label> <input type="number" step="0.01"
							class="form-control" id="budget-add" name="budgetAdd"
							placeholder="0.0" required>
					
					<button type="submit" class="btn btn-success" style="margin-left: 2px;">Add to
						Budget</button>
				</form>
				


				
					<button type="button" id="search-button" class="btn btn-primary"
						onclick="toggleSearch()" style="margin-left: 15px;">Search</button>
				
			</div>

		


		<form th:action="@{/search}" method="post" id="search-form" style="display: none" onsubmit="return handleSearchSubmit(event);">
		
			<div class="form-group">
				<label for="searchDate">Date:</label> <input type="date"
					id="searchDate" name="searchDate" class="form-control" />
			</div>
			<div class="form-group">
				<label for="searchCategory">Category:</label> <select
					id="searchCategory" name="searchCategory" class="form-control">
					<option value="">All Categories</option>
					<option th:each="category: ${categorys}"
						th:value="${category.categoryId}" th:text="${category.name}"></option>
				</select>
			</div>
			<div class="form-group">
				<label for="searchRemark">Remark:</label> <input type="text"
					id="searchRemark" name="searchRemark" class="form-control" />
			</div>
			<button type="submit" class="btn btn-primary" >Search</button>
			
		</form>

		<table class="table table">
			<thead>
				<tr>
					<th>Amount</th>
					<th>Date</th>
					<th>Remark</th>
					<th>Category</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="expense : ${expenses}">
					<td th:text="${expense.amount}"></td>
					<td th:text="${expense.date}"></td>
					<td th:text="${expense.remark}"></td>
					<td th:text="${expense.category.name}"></td>
					<td><a th:href="@{/delete/{id}(id=${expense.id})}"
						class="btn btn-danger">Delete</a></td>
					<td><a th:href="@{/edit/{id}(id=${expense.id})}"
						class="btn btn-primary">Edit</a></td>
				</tr>
			</tbody>
			<tfoot>
				<tr id="footer-row">
					<td colspan="2" class="total-expenses">Budget: <span
						style="font-weight: bold"
						th:text="${#numbers.formatDecimal(budget, 1, 2)}"></span></td>
					<td colspan="2" class="total-expenses">Total expenses: <span
						style="font-weight: bold"
						th:text="${#numbers.formatDecimal(totalExpenses, 1, 2)}"></span></td>
					<td colspan="2" class="total-expenses">Remaining budget: <span
						style="font-weight: bold"
						th:text="${#numbers.formatDecimal(remainingBudget, 1, 2)}"></span>
					</td>
					
					
				</tr>
			</tfoot>
		</table>
		<a href="/add" class="btn btn-success">Add Expense</a>
		
		<button type="button" id="cancel-search-button" class="btn btn-secondary ml-2" onclick="cancelSearch()" style="display: none;">Cancel Search</button>



</div>
	</div>

</body>
</html>